$color-interface-1: #000000;
$color-interface-2: #ffffff;
$color-interface-3: #1e1e1e;
$color-interface-4: #1c1e2d;
$color-interface-5: rgba($color-interface-4, 0.75);
$color-interface-6: #222222;
$color-interface-7: #91efb7;
$color-interface-8: rgba($color-interface-4, 0.5);
